build/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*.swp
*~
*.env.*

node_modules/
bower_components/

.terraform
terraform.tfvars

.tox
.cache

backend.tfvars
terraform.tfvars
.terraform

client/src/css
client/jest*

server/static/
server/core/templates/index.html
server/core/static/

.DS_Store
