build/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*.swp
*~
*.env.*

node_modules/
bower_components/

.tox
.cache

client/src/css

server/static/
server/core/templates/index.html
server/core/static/

.DS_Store
