sudo: required

services:
    - docker

notifications:
    email:
        recipients:
            - shawnhmh@gmail.com
    on_success: change
    on_failure: always

language: node_js

install: true

env:
  SECRET_KEY: keepitsecret
  DJANGO_SETTINGS_MODULE: spare.settings.ci

script:
    - docker build -t hackforla/spare .
    - docker run -e DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE -e SECRET_KEY=$SECRET_KEY -it hackforla/spare './scripts/run_tests.sh'

after_success:
    - echo "Successful!"
