version: '3'

services:
    server:
        image: hackforla/spare:server
        build:
            context: ./server
            dockerfile: Dockerfile.web
        env_file: .env.dev
        command: python3 manage.py runserver 0.0.0.0:8000
        volumes:
            - ./server:/app
        ports:
            - "8000:8000"
        depends_on:
            - db
        stdin_open: true  # These two lines allow us to use pdb via stdin:
        tty: true         # docker attach <container>

    db:
        image: postgres
        environment:
            POSTGRES_USER: postgres_user
            POSTGRES_DB: postgres_db
        ports:
            - "5432:5432"
    client:
        image: hackforla/spare:client
        build:
            context: ./client
            dockerfile: Dockerfile
        command: bash -c "npm install; npm run start"
        volumes:
            - ./client:/app
            - node_modules:/app/node_modules
        ports:
            - "3000:3000"
        depends_on:
            - server
volumes:
    node_modules:
