version: '3'

services:
  server:
    image: hackforla/spare:server
    command: /bin/bash
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file: .env.dev
    volumes:
      - ./server:/app
      - /usr/local/lib/python3.6/
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db
    stdin_open: true # These two lines allow us to use pdb via stdin:
    tty: true     # docker attach <container>

  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres_user
      POSTGRES_DB: postgres_db
    ports:
      - "${DB_PORT:-5432}:5432"
  client:
    image: node:8
    tty: true     # docker attach <container>
    command: /bin/bash
    build:
      context: ./client
      dockerfile: Dockerfile
    volumes:
      - ./client:/app
      - ./server:/app/server
      - /app/node_modules
    ports:
      - "${CLIENT_PORT:-3000}:3000"
    depends_on:
      - server
  redis:
    image: redis
    build:
      context: ./redis
      dockerfile: Dockerfile
  worker:
    image: hackforla/spare:server
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file: .env.dev
    volumes:
      - ./server:/app
    depends_on:
      - redis
      - db
    stdin_open: true # These two lines allow us to use pdb via stdin:
    tty: true     # docker attach <container>
