.learn-more
  text-align: center
  font-size: 23px
  margin-top: 20px
  margin-bottom: 40px
  line-height: 20px

  @media (min-width: $desktop-width)
    margin-bottom: 20px
    margin-top: 60px

.footer
  height: 60px
  line-height: 50px
  margin-bottom: 40px
  text-align: center

  @media (min-width: $desktop-width)
    position: absolute
    top: 40px
    right: 72px
    margin: 0

  a
    padding-bottom: 4px
    &:hover
      color: lighten(#4f5464, 30%)

    @media (min-width: $desktop-width)
      &.active
        border-bottom: 2px solid #4f5464
      &:hover
        border-bottom: 2px solid lighten(#4f5464, 30%)

  ul
    list-style-type: none
    padding: 0
    margin: 0 0 30px

    li
      display: block
      font-weight: bold
      font-size: 15px
      margin-bottom: 10px
      letter-spacing: 2px
      text-transform: uppercase

      @media (min-width: $desktop-width)
        display: inline

      a, a:active, a:focus
        outline: none
        text-decoration: none

    @media (min-width: $desktop-width)
      li+li
        margin-left: 37.5px
