.header
  border-bottom: none
  margin: 0
  text-align: center
  padding-bottom: 0

  h1
    margin: 15px auto 0

  a
    text-decoration: none

  .breadcrumb
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 2px
    line-height: 2em
    margin: 5px auto 0

    @media (min-width: $desktop-width)
      margin: 5px auto 10px

    .active
      color: inherit

    li
      font-weight: none
      font-size: 16px
      color: inherit
      display: block

      @media (min-width: $desktop-width)
        display: inline-block

      &:last-child
        font-weight: bold

    li + li:before
      display: none

      @media (min-width: $desktop-width)
        display: inline
        font-weight: normal
        content: '>'
        color: inherit

  .logo
    vertical-align: baseline
    width: 120px
    display: block
    margin: 40px auto 0

    @media (min-width: $desktop-width)
      width: 160px
      display: inline-block
      margin: 40px 0 0

  .breadcrumb
    background: none

  .notification
    position: relative
    top: 18px

  .text
    font-size: 14px
    color: #616161
