.home-page
  text-align: center

  .main-headline
    max-width: 20em
    margin-left: auto
    margin-right: auto

  h2
    margin-top: 72px

  ol
    list-style: none
    padding-left: 0
    margin-left: auto
    margin-right: auto
    margin-bottom: 72px
    max-width: 26em
    li
      list-style: none
      padding-left: 0
      margin-left: 0


  #announcement
    margin-bottom: 36px
    font-size: 14px

  .icon
    margin-top: 36px
    margin-bottom: 24px
