.home-page
  text-align: center

  .main-headline
    max-width: 20em
    margin-left: auto
    margin-right: auto

  ol
    list-style: none
    margin-left: 0
    padding-left: 0

  #announcement
    margin-bottom: 36px
    font-size: 14px

  .icon
    margin-top: 36px
    margin-bottom: 24px
