#request-container
  color: $request-primary-color

  h2
    color: $request-primary-color

  form .btn
    color: white
    background: $request-primary-color

    &:hover
      background: darken($request-primary-color, 5%)
