table
  font-size: 14px
  width: 85% !important
  margin-right: auto
  margin-left: auto

  & td, & th
    padding: 1.5em !important

th
  line-height: 2em
  letter-spacing: 2px
  font-weight: bold
  text-transform: uppercase

table .btn
  border-radius: 17.5px
  font-size: 14px
  font-weight: bold
  letter-spacing: 2px
  line-height: 13.5px
  text-transform: uppercase


.table-requests-mobile
  & .btn
    width: 100%
    line-height: 2em
