.tile
  text-align: center
  box-sizing: border-box

.tile img
  border-radius: 10px

.tile:hover img
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.25)

.tile-label
  position: absolute
  top: 25%
  left: 50%
  transform: translate(-50%, -25%)

.text-label
  padding: 10px 0 30px
