.tile
  border-radius: 10px
  background: url('https://github.com/hackforla/spare/blob/master/design/assets/tiles/dress.png')
  text-align: center

.tile-label
  position: absolute
  top: 25%
  left: 50%
  transform: translate(-50%, -25%)

.text-label
  padding: 10px 0 15px;
