{% block subject %}We found a donor for your item!{% endblock %}

{% block plain %}
Hi there,

We found a donor for the item you asked for! Here's how to get it.

You asked for:

  - Item: {{ item_type }}{% if item_size %}
  - Size: {{ item_size }}{% endif %}

Here is who you'll be meeting:

  Name: {{ donator_name }}

Please keep any information confidential and don't post it anywhere online.

Here's what happens next:

  1. Meet the donor on {{ dropoff_date }} and {{ dropoff_time }} at:

     {{ location_name }}
     {{ location_address_1 }}
     {{ location_address_2 }}
     {{ location_city }}, {{ location_state }} {{ location_zipcode }}

  2. We ask that you wait 15 minutes for them and we asked them to wait 15 minutes for you.

If you have any questions or if you no longer need this item, please email us or text us at 310-554-8852. We're an all-volunteer team but we'll try to get back to you as soon as possible.

Thank you,
The Spare Team
team@whatcanyouspare.org

Spare connects people in need with people who have spare stuff. Find us at whatcanyouspare.org and on Twitter @WhatCanYouSpare.
{% endblock %}

{% block html %}
  <p>Hi there,</p>

  <p>We found a donor for the item you asked for! Here's how to get it.</p>

  <p>You asked for:</p>

  <ul>
    <li>Item: {{ item_type }}</li>
    {% if item_size %}<li>Size: {{ item_size }}</li>{% endif %}
  </ul>

  <p>Here is who you'll be meeting:</p>

  <ul>
    <li>Name: {{ donator_name }}</li>
  </ul>

  <p><i>Please keep any information confidential and don't post it anywhere online.</i></p>

  <p>Here's what happens next:</p>

  <ol>
    <li>Meet the donor on {{ dropoff_date }} and {{ dropoff_time }} at:</li>

    <blockquote>
      {{ location_name }}<br />
      {{ location_address_1 }}<br />
      {{ location_address_2 }}<br />
      {{ location_city }}, {{ location_state }} {{ location_zipcode }}
    </blockquote>

    <li>We ask that you wait 15 minutes for them and we asked them to wait 15 minutes for you.</li>
  </ol>

  <p>If you have any questions or if you no longer need this item, please email us or text us at 310-554-8852. We're an all-volunteer team but we'll try to get back to you as soon as possible.</p>

  <p>Thank you,</p>
  <p>The Spare Team<br /><a href="mailto:team@whatcanyouspare.org">team@whatcanyouspare.org</a></p>

  <p><i>Spare connects people in need with people who have spare stuff. Find us at <a href="http://www.whatcanyouspare.org">whatcanyouspare.org</a> and on Twitter <a href="https://twitter.com/WhatCanYouSpare">@WhatCanYouSpare</a>.</i></p>
{% endblock %}
