// Import components, themes, etc. here.
// @import('./ComponentName/_index')
@import "./_themes";
@import "./_variables";
@import "./_fonts";
@import "./_layout";
@import "./components/index";

html, #root {
    height: 100%;
}

body {
  height: 100%
  margin: 0px 50px 85px;
  padding: 0px;
  color: $text-color;
}

a {
  color: $text-color;
}

a:hover, a:active {
  text-decoration: none;
  color: darken($text-color, 15%);
}
