// Import components, themes, etc. here.
// @import('./ComponentName/_index')
@import "./_themes";
@import "./_variables";
@import "./_fonts";
@import "./_layout";
@import "./components/index";

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0px;
  color: $text-color;
  display: flex;
  margin: 0 10px 0;

  // Larger than small/mobile device
  @media (min-width : 768px) {
    margin: 0px 50px 0px;
  }
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#root > .container-fluid {
  flex-grow: 1;
}

a {
  color: $text-color;
}

a:hover, a:active {
  color: darken($text-color, 15%);
}
