// Import components, themes, etc. here.
// @import('./ComponentName/_index')
@import "./_themes";
@import "./_variables";
@import "./_fonts";
@import "./_layout";
@import "./components/index";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0px 50px 0px;
  padding: 0px;
  color: $text-color;
  display: flex;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#root > .container-fluid {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: $text-color;
}

a:hover, a:active {
  text-decoration: none;
  color: darken($text-color, 15%);
}
