{% block subject %}Here are the details of your donation!{% endblock %}

{% block plain %}
Hi there,

Thank you for being a Spare donor! Please meet your recipient on {{ dropoff_date }} at {{ dropoff_time }}. You'll meet at:

  {{ location_name }}
  {{ location_address_1 }}
  {{ location_address_2 }}
  {{ location_city }}, {{ location_state }} {{ location_zipcode }}

As a reminder, you're donating:

  - Item: {{ item_type }}{% if item_size %}
  - Size: {{ item_size }}{% endif %}

Here's who you'll be meeting:

  - Name: {{ requestor_name }}

Please keep any information confidential and don't post it anywhere online.

If you can no longer make it, PLEASE EMAIL US AS SOON AS POSSIBLE: team@whatcanyouspare.org. Someone is counting on you.

If the recipient does not come within 15 minutes, you can leave the item with The Shower of Hope staff, you can give it to another person receiving shower services or you can take it home with you and try to find another match.

Thank you,
The Spare Team
team@whatcanyouspare.org

Spare connects people in need with people who have spare stuff. Find us at whatcanyouspare.org and on Twitter @WhatCanYouSpare.
{% endblock %}

{% block html %}
  <p>Hi there,</p>

  <p>Thank you for being a Spare donor! Please meet your recipient on {{ dropoff_date }} at {{ dropoff_time }}. You'll meet at:</p>

  <blockquote>
    {{ location_name }}<br />
    {{ location_address_1 }}<br />
    {{ location_address_2 }}<br />
    {{ location_city }}, {{ location_state }} {{ location_zipcode }}
  </blockquote>

  <p>As a reminder, you're donating:</p>

  <ul>
    <li>Item: {{ item_type }}</li>
    {% if item_size %}<li>Size: {{ item_size }}</li>{% endif %}
  </ul>

  <p>Here's who you'll be meeting:</p>

  <ul>
    <li>Name: {{ requestor_name }}</li>
  </ul>

  <p><i>Please keep any information confidential and don't post it anywhere online.</i></p>

  <p>If you can no longer make it, PLEASE EMAIL US AS SOON AS POSSIBLE: team@whatcanyouspare.org. Someone is counting on you.</p>

  <p>If the recipient does not come within 15 minutes, you can leave the item with The Shower of Hope staff, you can give it to another person receiving shower services or you can take it home with you and try to find another match.</p>

  <p>Thank you,</p>
  <p>The Spare Team<br /><a href="mailto:team@whatcanyouspare.org">team@whatcanyouspare.org</a></p>

  <p><i>Spare connects people in need with people who have spare stuff. Find us at <a href="http://www.whatcanyouspare.org">whatcanyouspare.org</a> and on Twitter <a href="https://twitter.com/WhatCanYouSpare">@WhatCanYouSpare</a>.</i></p>
{% endblock %}
